aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
anndata==0.11.4
array-api-compat==1.12.0
asttokens @ file:///C:/b/abs_9662ywy9fp/croot/asttokens_1743630464377/work
async-timeout==5.0.1
attrs==25.3.0
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
comm @ file:///C:/b/abs_67a8058udb/croot/comm_1709322909844/work
contourpy==1.3.2
cycler==0.12.1
debugpy @ file:///C:/miniconda3/conda-bld/debugpy_1757067176466/work
decorator @ file:///C:/miniconda3/conda-bld/decorator_1757341256088/work
Deprecated==1.2.18
exceptiongroup @ file:///C:/b/abs_c5h1o1_b5b/croot/exceptiongroup_1706031441653/work
executing @ file:///C:/miniconda3/conda-bld/executing_1757061252959/work
filelock==3.19.1
fonttools==4.60.1
frozenlist==1.8.0
fsspec==2025.9.0
future==1.0.0
graphtools==2.0.0
h5py==3.14.0
idna==3.10
ipykernel @ file:///C:/miniconda3/conda-bld/ipykernel_1757583380140/work
ipython @ file:///C:/b/abs_8eyhzleyrk/croot/ipython_1734548134403/work
ipywidgets==8.1.7
jedi @ file:///C:/b/abs_3a2kbnlclc/croot/jedi_1733987412687/work
Jinja2==3.1.6
joblib==1.5.2
jupyter_client @ file:///C:/b/abs_149bw133if/croot/jupyter_client_1737570986926/work
jupyter_core @ file:///C:/b/abs_7c6fipznw3/croot/jupyter_core_1751991383524/work
jupyterlab_widgets==3.0.15
kiwisolver==1.4.9
legacy-api-wrap==1.4.1
lightning-utilities==0.15.2
llvmlite==0.45.1
MarkupSafe==3.0.3
matplotlib==3.10.6
matplotlib-inline @ file:///C:/miniconda3/conda-bld/matplotlib-inline_1758520119436/work
mpmath==1.3.0
multidict==6.6.4
natsort==8.4.0
nest-asyncio @ file:///C:/b/abs_65d6lblmoi/croot/nest-asyncio_1708532721305/work
networkx==3.4.2
numba==0.62.1
numpy==1.26.4
packaging @ file:///C:/b/abs_f7t3vr2_lo/croot/packaging_1753775377650/work
pandas==2.0.3
parso @ file:///C:/b/abs_834b4mj92b/croot/parso_1733963322289/work
pastel==0.2.1
patsy==1.0.1
phate==1.0.11
pillow==11.3.0
platformdirs @ file:///C:/b/abs_ddh15014or/croot/platformdirs_1744273060660/work
poethepoet==0.10.0
POT==0.9.6.post1
prompt-toolkit @ file:///C:/b/abs_68uwr58ed1/croot/prompt-toolkit_1704404394082/work
propcache==0.4.0
psutil @ file:///C:/miniconda3/conda-bld/psutil_1757104557256/work
pure_eval @ file:///C:/miniconda3/conda-bld/pure_eval_1757067068391/work
Pygments @ file:///C:/b/abs_e4bg5vh5j_/croot/pygments_1744667628203/work
PyGSP==0.6.1
pynndescent==0.5.13
pyparsing==3.2.5
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
pytorch-lightning==2.5.5
pytz==2025.2
pywin32 @ file:///C:/b/abs_6c9w_vp9zi/croot/pywin32_1754670534373/work
PyYAML==6.0.3
pyzmq @ file:///C:/miniconda3/conda-bld/pyzmq_1758103949218/work
s-gd2==1.8.1
scanpy==1.11.4
scikit-learn==1.7.2
scipy==1.15.3
scprep==1.2.3
seaborn==0.13.2
session-info2==0.2.2
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
stack_data @ file:///C:/miniconda3/conda-bld/stack_data_1757067051465/work
statsmodels==0.14.5
sympy==1.14.0
tasklogger==1.2.0
threadpoolctl==3.6.0
tomlkit==0.13.3
torch==2.8.0
torchaudio==2.8.0
torchcde==0.2.5
torchdiffeq==0.2.5
torchdyn==1.0.6
torchmetrics==1.8.2
torchsde==0.2.6
torchvision==0.23.0
tornado @ file:///C:/b/abs_7dzpc171lf/croot/tornado_1748956950306/work
tqdm==4.67.1
traitlets @ file:///C:/b/abs_bfsnoxl4pq/croot/traitlets_1718227069245/work
trampoline==0.1.2
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
tzdata==2025.2
umap-learn==0.5.9.post2
wcwidth @ file:///C:/b/abs_0c8p4c33bp/croot/wcwidth_1750352902378/work
widgetsnbextension==4.0.14
wrapt==1.17.3
yarl==1.21.0
